@using Core.Enum
@model Core.Models.TrainingCourse
@{
    var logger = Session.GetCurrentUser();
    ViewData["Title"] = "Payment Method";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var amount = ViewBag.Amount;
}

<main>
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Payment</h4>
            <ul class="db-breadcrumb-list">
                <li><a asp-action="Program" asp-controller="Accounts"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>
        <div class="row">
            <!-- Payment Methods -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Payment Method</h4>
                    </div>
                    <div class="widget-inner">
                        <!-- Paid Before Section -->
                        <div class="card-courses-list admin-review">
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <h4>Paid Before</h4>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-6">
                                        <h6 class="m-b10">Sender Name</h6>
                                        <input class="form-control" type="text" id="paidBeforeName">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" hidden class="form-control" id="paidBeforeCourseId" value="@Model.Id">
                                        <h6 class="m-b10">Upload Proof Of Payment</h6>
                                        <input type="file" class="form-control" id="paidBeforeUploadProof">
                                    </div>
                                    <div class="col-md-12 pt-4">
                                        <button class="btn" onclick="payBeforeComing()" id="submit_btn_paid_before" style="margin-left:45%;">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bank Transfer Section -->
                        <div class="card-courses-list admin-review">
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <h4>Bank Transfer</h4>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-6">
                                        <h6 class="m-b10">Bank Name</h6>
                                        <input class="form-control" type="text" readonly value="Access Bank">
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="m-b10">Account Number</h6>
                                        <input class="form-control" type="text" readonly value="9167106731">
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="m-b10">Account Name</h6>
                                        <input class="form-control" type="text" readonly value="DSkillAcademy">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <input class="form-control" id="accountInput" value="0123456789" type="text" readonly>
                                            </div>
                                            <div class="col-md-2">
                                                <!-- Change 'botton' to 'button' and add onclick function to copy text -->
                                                <button class="btn btn-white p-2" onclick="copyToClipboard('accountInput')">
                                                    <i class="fa fa-clone"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="text" hidden class="form-control" id="bankTransferCourseId" value="@Model.Id">
                                        <h6 class="m-b10">Upload Proof Of Payment</h6>
                                        <input type="file" class="form-control" id="bankTransferUploadProof">
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="m-b10">Sender Name</h6>
                                        <input class="form-control" type="text" id="bankTransferName">
                                    </div>
                                    <div class="col-md-12 pt-4">
                                        <button class="btn" style="margin-left:45%;" onclick="ManualPaymentAUpload()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Paystack Payment Section -->
                        <div class="card-courses-list admin-review">
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <h4>Paystack Payment</h4>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-12">
                                        <!-- Pass Course ID, Amount, and Status to JavaScript function -->
                                        <button class="btn"
                                                onclick="sendPaymentDetails('@Model.Id', '@amount', '@Model.ProgramStatus')">
                                            Pay with Paystack
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Payment Methods End -->
        </div>
    </div>
</main>


